/* RESET STYLES */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* BARRA DE NAVEGAÇÃO */
.nav {
    background: linear-gradient(to right,#ffffff, #5e5e55, #ffffff);
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}


.nav a {
    color: #1a1a1a;
    text-decoration: none;
    padding: 0px 20px;
    font: 5pt;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    font-size: 15pt;
}

.nav a:hover{
    color: white;
    background: #9a9d4e33;
    border-radius: 5px;
    box-shadow: 0 0 5px #9a9d4e80;
   
}

.nav-list {
    list-style: none;
    display: flex;
    margin-left: 20px;
}

/* TEXT SELECTION STYLES */
::selection {
  color: black;
  background-color: #9a9d4e33;
}

/* LOADING SCREEN */

#loading-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: linear-gradient(black, #1a1a1a);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.anima {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-radius: 50%;
    box-shadow: 4px 0 0 #9a9d4e;
    animation: anima 1s linear infinite;
}

.loading-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color: #9a9d4e;
    position: fixed;
    text-transform: uppercase;
    text-align: center;
    line-height: 300px;
    font-size: 32px;
    background: url('../arq/img/Thauã-Logo-GPT.png') no-repeat center/cover;
    box-shadow: 0 0 5px #9a9d4e;   
    
}

@keyframes anima {
    0% { 
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* MAIN BODY */
.Current-body {
    background: linear-gradient(to right,#000000, #1a1a1a,#000000);
    min-height: 100vh;
    margin-bottom: 100px;
}


/* HEADER */
header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.logo {
    cursor: default;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    font-size: 24pt;
    font-weight: bold;
    filter: drop-shadow(0 0 15px #ffffff);
}

/* DIV CONTAINER */

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    margin: 50px auto;
    max-width: 1000px;
}


/* DIV ABOUT ME */
.div-about {
    animation: slideIn 3s forwards;
    margin: 50px;
    cursor: default;
    height: 300px;
    width: 500px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    box-shadow: 0 0 10px #5e5e55;
    background-color: #5e5e55cc;
    color: white;
    border-radius: 20px;
    
    
}

/* IMAGEM TULIO */
.img-tulio {
    width: 250px;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 0 10px #5e5e55;
    transition: transform 0.3s ease-in-out;
    
}
.img-tulio:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    
  
}

/* Div Habilidades */
 
#div-habilidades {
    text-align: center;
    gap: 20px;
    padding: 20px;
}

#div-habilidades img {
  
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#div-habilidades img:hover {
    transform: scale(1.2);
    text-align: center;
}


#div-habilidades h2{
    font-size: 20pt;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}


/* Div Projetos */

#div-projetos {
    color: white;
    text-align: center;
    gap: 20px;
    display: flex;
    padding: 20px;
    margin-top: 50px;
    width: 300px;
    margin: auto;
    border-radius: 20px;
    background-color: #5e5e55cc;
    box-shadow: 0 0 10px #4e859d;
    transition: transform 0.3s ease-in-out;
}

#div-projetos:hover {
    transform: scale(1.03);
    
}

.projeto1 img {
    text-align: center;
    gap: 20px;
    display: block;
    margin-top: 20px;
    width: 300px;
}

.projeto1 h3 {
    color: black;
}



.button-link {
    background-color: #1a1a1a;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.button-link:hover {
    transform: scale(1.1);
}

/* ANIMAÇÃO DE SLIDE */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/* MAIN FOOTER */
footer {

    background: linear-gradient(to right,#ffffff, #5e5e55, #ffffff);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    
}

footer a {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-decoration: none;
    text-align: center;
    color: #1a1a1a;
    font-style: italic;
    height: 100%;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    
    
}

footer a:hover {
    color: white;
    background: rgba(154, 157, 78, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(154, 157, 78, 0.5);
}
